apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app prometheus-snmp-exporter
spec:
  chart:
    spec:
      chart: *app
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: 9.8.2
  interval: 15m
  values:
