apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - ./cluster.yaml
  - ./podmonitor.yaml
  - ./externalsecrets.yaml
patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
    patch: |-
      - op: add
        path: /spec/dependsOn/-
        value:
          name: cnpg
          namespace: cnpg-system
