apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../apps/base/kube-prometheus-stack/kustomize.yaml
  - ./namespace.yaml
commonLabels:
  cluster: homelab
  group: observability
