---
# We need to extend the permissions of the Grafana serviceaccount to watch for configmaps
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sidecar-role
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "watch", "list"]
---
# We bind the new permissions to the grafana-sa
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: sidecar-rolebinding
roleRef:
  kind: ClusterRole
  name: sidecar-role
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: grafana-sa
    namespace: observability
---
# Provisioning config
apiVersion: v1
kind: ConfigMap
metadata:
  name: provisioning-config
  namespace: grafana
data:
  provisioning.yaml: |-
    apiVersion: 1
    providers:
      # Setting 'editable' to true to allow us to temporarily tweak dashboards as needed.
      - name: default
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
      - name: system
        orgId: 1
        folder: System
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/system      
      - name: kubernetes
        orgId: 1
        folder: Kubernetes
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/kubernetes
      - name: network
        orgId: 1
        folder: Network
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/network
      - name: storage
        orgId: 1
        folder: Storage
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/storage
      - name: databases
        orgId: 1
        folder: Databases
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/databases
      - name: fitness
        orgId: 1
        folder: Fitness
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/fitness
      - name: observability
        orgId: 1
        folder: Observability
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/observability
---

