apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoria-metrics
spec:
  uid: prometheus
  datasource:
    name: VictoriaMetrics
    type: prometheus
    jsonData:
      timeInterval: 5s
      tlsSkipVerify: true
    url: http://vmselect-vmks-victoria-metrics-k8s-stack:8481/select/0/prometheus
    access: proxy
    basicAuth: false
  instanceSelector:
    matchLabels:
      dashboards: homelab
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: alertmanager
spec:
  uid: alertmanager
  datasource:
    name: AlertManager
    type: alertmanager
    jsonData:
      timeInterval: 5s
      tlsSkipVerify: true
      implementation: prometheus
      # Whether or not Grafana should send alert instances to this Alertmanager
      handleGrafanaManagedAlerts: false
    url: http://vmalertmanager-vmks-victoria-metrics-k8s-stack:9093
    access: proxy
    basicAuth: false
  instanceSelector:
    matchLabels:
      dashboards: homelab
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoria-logs
spec:
  uid: victoria-logs
  datasource:
    name: VictoriaLogs
    type: &datasource victoriametrics-logs-datasource
    jsonData:
      timeInterval: 5s
      tlsSkipVerify: true
    url: http://vlselect-vlc-victoria-logs-cluster:9471/select/0/prometheus
    access: proxy
    basicAuth: false
  instanceSelector:
    matchLabels:
      dashboards: homelab
  plugins:
    - name: *datasource
      version: 0.21.4
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: github
spec:
  valuesFrom:
    - targetPath: "jsonData.appId"
      valueFrom:
        secretKeyRef:
          name: grafana-github-datasource
          key: app_id
    - targetPath: "jsonData.installationId"
      valueFrom:
        secretKeyRef:
          name: grafana-github-datasource
          key: installation_id
    - targetPath: "secureJsonData.privateKey"
      valueFrom:
        secretKeyRef:
          name: grafana-github-datasource
          key: private_key
  uid: github
  datasource:
    name: GitHub
    access: proxy
    type: &datasource grafana-github-datasource
    jsonData:
      selectedAuthType: github-app
      appId: "${app_id}"
      installationId: "${installation_id}"
    secureJsonData:
      privateKey: "${private_key}"
  instanceSelector:
    matchLabels:
      dashboards: homelab
  plugins:
    - name: *datasource
      version: 2.3.0
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: infinity
spec:
  uid: infinity
  datasource:
  instanceSelector:
    matchLabels:
      dashboards: homelab
  plugins:
    - name: yesoreyeram-infinity-datasource
      version: 3.6.0
---

